@use '../abstracts/variables' as *;

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #e4e4e7;
    border-radius: 10px;

    &:hover {
      background: $brand-orange;
    }
  }
}
